<!DOCTYPE html>
<html> 
  <head>
  <link rel="stylesheet" href="/style.css">
</head>
  <body>
    <h1 class="creamText">Book Directory</h1>
    <a class="link" href="#addBook">Jump To Add Book</a>
   {{#each books}}
        <div class="displaySection">
            <p><strong>Title :</strong> {{this.title}}</p>
            <p><strong>Author :</strong> {{this.author}}</p>
            <p><strong>Number of copies in stock :</strong> {{this.numCopies}}</p>
            <form method="POST" action="../deleteBook">
            <input type="hidden" name="bookId" value="{{this.id}}">
              <button value="submit" type="submit">Delete Book</button>
            </form>
        </div>
    {{/each}}
    <div class="displaySection">
      <h2><a id="addBook">Add Book:</a></h2>
      <div class="flexBox">
        <form method="POST" action="../addBook">
          <div>
            <label for="name"><strong>Title:</strong></label><br>
            <input type="text" id="title" name="title"><br>
          </div>
          <div>
            <label for="author"><strong>Author:</strong></label><br>
            <input type="text" id="author" name="author"><br>
          </div>
          <div>
            <label for="numCopies"><strong>Number Of Copies To Add:</strong></label><br>
            <input type="text" id="numCopies" name="numCopies"><br><br>
          </div>
          <button type="submit" value="Submit">Add Book</button>
        </form> 
      </div>
    </div>
  </body>
</html>